name: "[GPU] mostlyai-engine Tests"

on:
    workflow_call:


env:
    PYTHON_KEYRING_BACKEND: keyring.backends.null.Keyring
    FORCE_COLOR: "1"

jobs:
    run-tests-gpu:
        runs-on: gha-gpu-public
        permissions:
            contents: read
            packages: write
        steps:
          - name: Setup | Checkout
            uses: actions/checkout@v4
            with:
                fetch-depth: 0
                submodules: 'recursive'


          - name: Setup | uv
            uses: astral-sh/setup-uv@v5
            with:
                enable-cache: false
                python-version: '3.10'

          - name: Setup | Dependencies
            run: uv sync --frozen --extra gpu --no-group docs

          - name: Run tests -> end_to_end -> sequential
            run: uv run pytest tests/end_to_end/test_tabular_sequential.py

          - name: Run tests -> end_to_end -> sequential context
            run: uv run pytest tests/end_to_end/test_tabular_sequential_context.py

          - name: Run tests -> end_to_end all except sequential
            run: uv run pytest --log-cli-level=INFO --ignore=tests/end_to_end/test_tabular_sequential.py --ignore=tests/end_to_end/test_tabular_sequential_context.py tests/end_to_end/
