name: "[CPU] mostlyai-engine Tests"

on:
    workflow_call:


env:
    PYTHON_KEYRING_BACKEND: keyring.backends.null.Keyring
    FORCE_COLOR: "1"

jobs:
    run-tests-cpu-unit-sequential:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        steps:
          - name: Setup | Checkout
            uses: actions/checkout@v4
            with:
                fetch-depth: 0
                submodules: 'recursive'


          - name: Setup | uv
            uses: astral-sh/setup-uv@v5
            with:
                enable-cache: false
                python-version: '3.10'

          - name: Setup | Dependencies
            run: |
              uv sync --frozen --only-group dev --only-group docs
              uv pip install --index-strategy unsafe-first-match torch==2.7.1+cpu torchvision==0.22.1+cpu . --extra-index-url https://download.pytorch.org/whl/cpu

          - name: Run | Tests -> unit
            run: uv run --no-sync pytest tests/unit

          - name: Build mkdocs
            run: uv run --no-sync mkdocs build --strict

          - name: Run tests -> end_to_end -> sequential
            run: uv run --no-sync pytest tests/end_to_end/test_tabular_sequential.py

          - name: Run tests -> end_to_end -> sequential context
            run: uv run --no-sync pytest tests/end_to_end/test_tabular_sequential_context.py

    run-tests-cpu-end-to-end-nonsequential:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        steps:
          - name: Setup | Checkout
            uses: actions/checkout@v4
            with:
              fetch-depth: 0
              submodules: 'recursive'


          - name: Setup | uv
            uses: astral-sh/setup-uv@v5
            with:
              enable-cache: false
              python-version: '3.10'

          - name: Setup | Dependencies
            run: |
              uv sync --frozen --only-group dev
              uv pip install --index-strategy unsafe-first-match torch==2.7.1+cpu torchvision==0.22.1+cpu . --extra-index-url https://download.pytorch.org/whl/cpu

          - name: Run tests -> end_to_end all except sequential
            run: uv run --no-sync pytest --ignore=tests/end_to_end/test_tabular_sequential.py --ignore=tests/end_to_end/test_tabular_sequential_context.py tests/end_to_end/
